#data{
    content: "";
    display: grid;
    clear: both;
    text-align: justify;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.container{
    background-color: azure;
    padding: 50px;
}
.header h5{
    text-align: center;
    font-weight: 200;
    border: 2px solid darkkhaki;
    border-width: 15px;
    padding-right: 50px;
}
body{
    background-color: bisque;
}
footer{
    text-align: right;
}